*~
.DS_Store
xcuserdata
*.xcuserstate
xcshareddata
ios/build/
android/bin/
android/gen/
android/obj/
android/libs/
android/local.properties
desktop/CMakeFiles
desktop/CMakeCache.txt
desktop/cmake_install.cmake
desktop/Makefile
desktop/build/
desktop/native-sdl-demo
build-*-*
*CMakeLists.txt.user
build
generated
*.pro.user
